@mixin button-style($background, $color) {
    background: $background;
    color: $color;
    &:hover {
        background: darken($background, 5%);
    }
}

.btn {
    width: 200px;
    padding: 10px 0;
    background: none;
    border: 0;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    

    &.btn-laranja {
        @include button-style($color-orange, $color-text )
    }

    &.btn-roxo {
        @include button-style($color-roxo, $color-text)
    }

    &.btn-amarelo {
        @include button-style($color-amarelo, #000)
    }
}

